{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillMainBundle::layout.html.twig" %}

{% block title %}{{ 'Add a person'|trans }}{% endblock title %}
    
{% block content %}
    <div class="grid-12 parent" >
        <div class="grid-10 push-1 grid-mobile-12 grid-tablet-12 push-mobile-0 push-tablet-0 parent">
            {{ form_start(form) }}
            
                <h1>{{ 'Add a person'|trans }}</h1>
            
                {{ form_row(form.firstName, { 'label' : 'First name'|trans }) }}  
                            
                {{ form_row(form.lastName, { 'label' : 'Last name'|trans }) }}
                
                {% if form.altNames is defined %}
                    {{ form_widget(form.altNames) }}
                {% endif %}
                            
                {{ form_row(form.birthdate, { 'label' : 'Date of birth'|trans }) }}
                            
                {{ form_row(form.gender, { 'label' : 'Gender'|trans }) }} 
                            
                {{ form_row(form.creation_date, { 'label' : 'Creation date'|trans }) }}             
                    
                {{ form_rest(form) }}
            
                <button class="sc-button green" type="submit" alt="add a person"><i class="fa fa-plus"></i> {{ 'Add the person'|trans }}</button>
    
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}