<h3 class="single-line">
    {{ period.closingDate|localizeddate('long', 'none')  }}
    <span class="person"> /
        <a href="{{ path('chill_person_accompanying_period_list', { 'person_id': person.id } ) }}">
            {{ 'Closing the accompanying period' | trans }}
        </a>
    <span>
    <span class="chill-red">
        <i class="fa fa-folder"></i>
    </span>
</h3> 
