<h3 class="single-line">
    {{ period.openingDate|localizeddate('long', 'none')  }}
    <span class="person"> /
        <a href="{{ path('chill_person_accompanying_period_list', { 'person_id': person.id } ) }}">
            {{ 'Opening the accompanying period' | trans }}
        </a>
    </span>
    <span class="chill-green">
        <i class="fa fa-folder-open"></i>
    </span>
</h3> 
