{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% block title %}{{ 'New address for %name%'|trans({ '%name%': person.firstName|capitalize ~ ' ' ~ person.lastName } )|capitalize }}{% endblock %}

{% block personcontent %}
    
    <h1>{{ 'New address for %name%'|trans({ '%name%': person.firstName ~ ' ' ~ person.lastName } ) }}</h1>
    
    {{ form_start(form) }}
    
    {{ form_row(form.isNoAddress) }}
    {{ form_row(form.streetAddress1) }}
    {{ form_errors(form.streetAddress1) }}
    {{ form_row(form.streetAddress2) }}
    {{ form_errors(form.streetAddress2) }}
    {{ form_row(form.postCode) }}
    {{ form_errors(form.postCode) }}
    {{ form_row(form.validFrom) }}
    {{ form_errors(form.validFrom) }}
    
    <ul class="record_actions sticky-form-buttons">
        <li class="cancel">
            <a href="{{ path('chill_person_address_list', { 'person_id' : person.id } ) }}" class="sc-button bt-cancel">
                    {{ 'Back to the list'|trans }}
                </a>
        </li>
        <li>
            {{ form_row(form.submit, { 'attr' : { 'class': 'sc-button bt-create'  }, 'label': 'Create' } ) }}
        </li>
    </ul>
    
    {{ form_end(form) }}
    
{% endblock personcontent %}