{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS, 
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "ChillMainBundle::Admin/layoutWithVerticalMenu.html.twig" %}

{% block vertical_menu_content %}
    {{ chill_menu('admin_person') }}
{% endblock %}

{% block admin_content %}
    <div class="grid-12 centered">
    <h1>{{ 'Configuration of person bundle' |trans }}</h1>
    
    <p>{{ 'person_admin.What would you like to configure ?'|trans }}</p>
    
    <ul>
        <li>
            <p>
                <a href="{{ path('chill_crud_closing_motive_index') }}">
                    <strong>{{ 'person_admin.closing motives list'|trans }}</strong>
                </a>
            </p>
            
            <p>{{ 'person_admin.closing motive explanation'|trans }}</p>
        </li>
    </ul>
    </div>
    
{% endblock %}