{% if is_granted('CHILL_PERSON_CREATE') %}
<div class="grid-8 centered" style="text-align:center; margin-top: 1.5em;">
    <a href="{{ path('chill_person_new') }}">
        <div class="sc-button blue" style="float: inherit;">
            {{ 'Add a person'|trans }}
        </div>
    </a>
</div>
{% endif %}
