{% extends '@ChillPerson/layout.html.twig' %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block title %}
{% include('@ChillMain/CRUD/_edit_title.html.twig') %}
{% endblock title %}

{% block personcontent %}
{% embed '@ChillMain/CRUD/_edit_content.html.twig' %}
{% endembed %}
{% endblock %}