{% extends '@ChillPerson/layout.html.twig' %}

{% set activeRouteKey = '' %}

{% block title %}{{ ('crud.' ~ crud_name ~ '.index.title')|trans({'%crud_name%': crud_name}) }}{% endblock %}

{% block personcontent %}
    {% embed '@ChillPerson/CRUD/_index.html.twig' %}
        {% block add_new %}
            <li>
                <a href="{{ chill_path_add_return_path('chill_crud_' ~ crud_name ~ '_new', { 'person_id': person.id } ) }}" class="sc-button bt-new">{{ ('crud.'~crud_name~'.index.add_new')|trans( {'%crud_name%': crud_name} ) }}</a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock personcontent %}
