{% extends '@ChillPerson/layout.html.twig' %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block title %}
{% embed('@ChillPerson/CRUD/_new_title.html.twig') %}{% endembed %}
{% endblock %}

{% block personcontent %}
{% embed '@ChillPerson/CRUD/_new_content.html.twig' %}
    {% block crud_content_header %}
        <h1>{{ ('crud.'~crud_name~'.title_new')|trans({'%person%': person|chill_entity_render_string }) }}</h1>
    {% endblock crud_content_header %}
{% endembed %}
{% endblock %}
