{% extends '@ChillPerson/layout.html.twig' %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block title %}
{% include('@ChillPerson/CRUD/_view_title.html.twig') %}
{% endblock %}

{% block personcontent %}
{% embed '@ChillPerson/CRUD/_view_content.html.twig' %}
    {% block crud_content_header %}
        <h1>{{ ('crud.' ~ crud_name ~ '.title_view')|trans({'%person%': person|chill_entity_render_string }) }}</h1>
    {% endblock crud_content_header %}
{% endembed %}
{% endblock %}
